* {
margin: 0;
padding: 0;
box-sizing: border-box;
transition: ease-in-out 0.3s;
}
body{
    width: 100%;
    height: 100vh;
}

.header{
    width: 100%;
    height: 10%;
    background-color: cadetblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
span{
    color: rgb(122, 73, 122);
}
h1{
    color: azure;
}
a{
    font-size: 26px;
    text-decoration: none;
    color: azure;
    margin: 10px;
}
a:hover{
    color: rgb(122, 73, 122);
    text-decoration: underline;
}
/* Home Start */
.section{
    width: 100%;
    height: 400px;
    background-image: url(showcase.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    
}
h2{
    font-size: 46px;
    margin: 20px;
    color: azure;
}
.sect{
    color: azure;
}
.div1{
    width: 100%;
    height: 100px;
    background-color: cadetblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
.sub{
    color: azure;
}
input , button {
    padding: 7px;
    border-radius: 15px;
}
p{
    font-size: 20px;
    
}
button{
   background-color: rgb(255, 104, 3); 
   padding: 7px;
   border-radius: 10px;
}
.paths{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
div img{
    width: 120px;
    padding: 10px;

}
h4{
    padding: 15px;
}
footer{
    width: 100%;
    height: 200px;
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.foot{
    color: azure;
    padding: 15px;
}

/* Home Finished */